/*
 * CSS styleshet for the "Ripserver" theme.
 *
 * Author: Ralph Hill
 */

@import "default.css";

/* The primary background color (light blue). */
.bgcolor1 {
    background-color: #FFFFFF;
}

/* The secondary background color (darker blue). */
.bgcolor2, .ruleTableHeader, .log {
    background-color: #EBEFF9
}

.mainframe {
    background-image:url('../icons/ripserver/background.png');
    background-repeat:no-repeat;
	background-attachment:fixed;
    background-color: #FFFFFF
}

/* Link color */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #0076B6
}

/* Link hover color */
a:hover, a:hover * {
    color: orange
}

body {
    scrollbar-face-color: #DEE3E7;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #DEE3E7;
    scrollbar-3dlight-color: #D1D7DC;
    scrollbar-arrow-color: #006699;
    scrollbar-track-color: #EFEFEF;
    scrollbar-darkshadow-color: #98AAB1;
}


/* Player images*/
a#rewind1 {
background-image:url("/icons/silver/rewind1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#forward1 {
background-image:url("/icons/silver/forward1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#clear1 {
background-image:url("/icons/silver/clear1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#shuffle {
background-image:url("/icons/silver/shuffle.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#repeat_on {
background-image:url("/icons/silver/repeat_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#repeat_off {
background-image:url("/icons/silver/repeat_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#undo {
background-image:url("/icons/silver/undo.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#settings1 {
background-image:url("/icons/silver/settings1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
