/*
 * CSS styleshet for the "Simplify" theme.
 *
 * Author: Thomas Bruce Dyrud (thomasbrucedyrud[at]gmail.com)
 *
 */

@import "default.css";

/* The primary background colour. */
.bgcolor1 {
    background-color: #1b1b1b;
}

/* The secondary background colour, light blue, primary theme colour. */
.bgcolor2, .ruleTableHeader, .log {
    background-color: #1b1b1b;
    color: #FFFFFF;
}

/* Background colour for selected header, log etc. */
.headerSelected {
    color: #FFFFFF;
    background-color: #1b1b1b;
    border: 1px solid #FFFFFF;
}


/* The secondary foreground colour used for h1, details etc. */
h1, .detail, .albumComment {
    color: #FFFFFF;
}

/* Foreground colour used for h2, bold and tr. */
h2, b, tr {
    color: #FFFFFF;
}

/* Table sizing */
table {
    margin: 0 0 0 0;
}

/* Main frame image & colour */
.mainframe {
    background-color: #1b1b1b;
    background-position:right;
}


/* Back image */
.back {
    background-image:url( "../icons/simplify/back.png" );
}

/* Forward image */
.forward {
    background-image:url( "../icons/simplify/forward.png" );
}


/* Link colour */
a:link, a:active, a:visited, a:link *, a:active *, a:visited * {
    color: #FFFFFF;
}

/* Link hover colour */
a:hover, a:hover * {
    text-decoration: underline;
    color: #FFFFFF;
}

/* Colour for warning messages. */
.warning {
    color: #e7238b;
}

/* The primary foreground colour. */
body {
    color: #FFFFFF;
    background-color: #DDDDDD;
}

html {
    background-color: transparent;
}

label, p {
	color: #CCC;
}

/* Player images*/
a#rewind1 {
background-image:url("/icons/black/rewind1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#forward1 {
background-image:url("/icons/black/forward1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#clear1 {
background-image:url("/icons/black/clear1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#shuffle {
background-image:url("/icons/black/shuffle.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#repeat_on {
background-image:url("/icons/black/repeat_on.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#repeat_off {
background-image:url("/icons/black/repeat_off.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#undo {
background-image:url("/icons/black/undo.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;}

a#settings1 {
background-image:url("/icons/black/settings1.png");background-position: 0px 0px; background-repeat:no-repeat; height: 24px; width: 23px; display:block;text-indent: -9999px;} 
